In [1]:
#Import Data Manipulation Library
import numpy as np
import pandas as pd
#Import Data Visualization Library
import seaborn as sns
import matplotlib.pyplot as plt
#Import Filter Warning Libraries
#Filterwarning  :---> This Will Hide All Warning Messages
import warnings
warnings.filterwarnings('ignore')
#Import Data logging
import logging
logging.basicConfig(level=logging.INFO,
                    filemode = 'w',
                    filename = 'app.log',
                    format= '%(asctime)s - %(levelname)s - %(message)s')

In [2]:
logging.info('Please upload Dataset for EDA...')

In [3]:
data = pd.read_csv('bank-additional-full.csv',sep = ';')

In [4]:
logging.info('The Dataset is Successfully Uploaded')

In [5]:
#Import Data Sample
data.sample(frac = 1)

      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
18130  37;"blue-collar";"married";"basic.6y";"unknown...
14477  45;"blue-collar";"married";"basic.4y";"unknown...
13838  33;"admin.";"divorced";"high.school";"no";"yes...
2485   47;"housemaid";"married";"university.degree";"...
12562  35;"blue-collar";"single";"basic.6y";"unknown"...
...                                                  ...
19056  40;"technician";"married";"professional.course...
21546  36;"admin.";"married";"university.degree";"unk...
28980  34;"technician";"divorced";"professional.cours...
30674  37;"blue-collar";"married";"basic.6y";"no";"no...
38148  61;"retired";"married";"high.school";"no";"yes...

[41188 rows x 1 columns]

In [6]:
data.info

<bound method DataFrame.info of       age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0      56;"housemaid";"married";"basic.4y";"no";"no";...
1      57;"services";"married";"high.school";"unknown...
2      37;"services";"married";"high.school";"no";"ye...
3      40;"admin.";"married";"basic.6y";"no";"no";"no...
4      56;"services";"married";"high.school";"no";"no...
...                                                  ...
41183  73;"retired";"married";"professional.course";"...
41184  46;"blue-collar";"married";"professional.cours...
41185  56;"retired";"married";"university.degree";"no...
41186  44;"technician";"married";"professional.course...
41187  74;"retired";"married";"professional.course";"...

[41188 rows x 1 columns]>

In [8]:
#Data Insights:

1. The Dataset contains 45211 Rows and 17 Columns

2. Seven Numerical Columns and 10 Categorical Columns We have, Outof which y is the target Column.

SyntaxError: invalid syntax (319798089.py, line 3)